extends layout
block css
  style.
    .dw_icon{display:inline-block;width:100px;margin:10px;}
    .img{height:100px;width:100%;position: relative;}
    .name{text-align:center;height:20px;overflow:hidden;}
    .dw_icon img{position: absolute;top:0;left:0;right:0;bottom:0;margin:auto;max-width:100%;max-height:100%}
    .dw_icon img:hover{max-width:200%;max-height:200%;z-index:2;left:-50%;top:-50%;bottom:-50%;right:-50%}
block content
    .dw_icon
      .img
        img(src='http://wx.qlogo.cn/mmopen/50HcP4UOeLV6icebhdN25fQeshwvzD06MDvoSiaI5xJEBk34VCzb73Iap1aMhMqmTrTsweJ0gsqL2oopvjQW9Kc1uiaYnYFcibAQ/0')
      .name 李爱芳
    .dw_icon
      .img
        img(src='http://wx.qlogo.cn/mmopen/7z7oSxmOibWeFCe2uy7pU62V8qJY6T5TUzOSMqgjmDlF49mU4ZJ1hbCLTicbRkg2mUBSZEwdlb4zCFN3kEu2Wb53gR27zf7auJ/0')
      .name 紫迎
    .dw_icon
      .img
        img(src='http://combo.qiniudn.com/20150514/8406dfb02d884b7f888e05984bfeb9a1')
      .name A.      孤独和酒 
    .dw_icon
      .img
        img(src='http://combo.qiniudn.com/20150401/6aa245ea9cd5420cadc254640f70aa35')
      .name 优优 ?
    .dw_icon
      .img
        img(src='http://combo.qiniudn.com/20150206/d5b4e721964b43dc860866a47cb08f6e')
      .name 孙鑫
    .dw_icon
      .img
        img(src='http://wx.qlogo.cn/mmopen/4Ab44rXNBE56NxicPwdCt02mmysLeQmsrIRHicozvSHjJj0nSaWHBbibRlZqMBEDHNSPYIdKTzPoNJor7TQwpiayibyptCW8IYctJ/0')
      .name 吴方方
    .dw_icon
      .img
        img(src='http://combo.qiniudn.com/20150207/7de7ca4a04bb4e0b96038517f9d8b2bf')
      .name 袁铂言Crystal⛄️
    .dw_icon
      .img
        img(src='http://combo.qiniudn.com/20150520/b3e3058230d84e64829533b1a9e935e8')
      .name ZHOU
    .dw_icon
      .img
        img(src='http://wx.qlogo.cn/mmopen/50HcP4UOeLV6icebhdN25fYfRPJCEftBOXdyxAmxOBGfQzALBAbeyYG7gRwIeBrv93bAicFUjmyCc4VibNibkwFLKPQHf4Mw2EIy/0')
      .name Adamancy☀
    .dw_icon
      .img
        img(src='http://wx.qlogo.cn/mmopen/YibWXw8BicGicdXpK8xicNm0nXXLPoBGwD1OmCaFbQaUgq5K7MhlOgNm4WiaWpibjiaan3RmXGJrXLhibYEmFcYx92dz7EqibqXCewro6/0')
      .name 娇娇    
    .dw_icon
      .img
        img(src='http://wx.qlogo.cn/mmopen/4Ab44rXNBE47CkfoODcIxzMLf77TE0Wpzu87aT0HDRayGGUpWibflp1AH4sYRGvPQbH6o8rJrKbKNXrNkRa493g/0')
      .name harper seven
    .dw_icon
      .img
        img(src='http://combo.qiniudn.com/20150424/84845972c78348898cbdc02477b151ae')
      .name Alias.
    .dw_icon
      .img
        img(src='http://wx.qlogo.cn/mmopen/4Ab44rXNBE56NxicPwdCt0ib2Zxs1q9ZZwPzupAFyoxdCGy0fkoibrAZwvA2BlCJxYqRUUjs2xAATmoLht153ULjfbqa2ybZhAO/0')
      .name 孟威彤
    .dw_icon
      .img
        img(src='http://wx.qlogo.cn/mmopen/Yh5jicJ5Uu3UIaic7KPXiaibnVicyvFgAqNiamreYYXqwic5ECE3dHwjzcR5lKibCIMEoubampU8GnByMkU1iadbniaCJ7vMichIhPSpNFp/0')
      .name 李小北
    .dw_icon
      .img
        img(src='http://wx.qlogo.cn/mmopen/Yh5jicJ5Uu3UIaic7KPXiaibncmnT5nicxogSTT5AvfvcUHGVXZpL5Y0BgWJAu3ww1opvNLzHZdibpibsm1KhUugsia12XjzHY9I8bhn/0')
      .name 蓝濯
    .dw_icon
      .img
        img(src='http://wx.qlogo.cn/mmopen/Yh5jicJ5Uu3UIaic7KPXiaibnbwz6uEicrNhCibf9f2desnW3IPqLUIiaeeQpMGhL68NSACQM2xufpeN220TGqHb8ia3BsSh88dC7Ciak/0')
      .name 暴走loli
    .dw_icon
      .img
        img(src='http://wx.qlogo.cn/mmopen/Q3auHgzwzM7rKR7X1rLukiaibF9O7ht2lNoRuoAjXicKWQOyiaWh3kE1nX1GLVFvBIONxXSKwdDsWcGD7Oa7ceovz9H4fhnPoLm6cuIiabyKELhQ/0')
      .name 骄阳
    .dw_icon
      .img
        img(src='http://combo.qiniudn.com/20150315/4883717276114e4b88cefd41652e492b')
      .name 朱晨
    .dw_icon
      .img
        img(src='/I/test/2.jpg')
      .name 李药药
    .dw_icon
      .img
        img(src='/I/test/1.jpg')
      .name  尚 雯雯雯雯儿✌️
    .dw_icon
      .img
        img(src='http://combo.qiniudn.com/20150317/c6993657264745ba8770a45ba362b36a')
      .name 猫姐
    .dw_icon
      .img
        img(src='http://wx.qlogo.cn/mmopen/ajNVdqHZLLByW3spIrCic1DhDveyvYzhhKfxsg6blHrlCibFFQ6fpjLV7JwCHCFj6OmDJs5vD7hkcs6gMzLXp0QT42ppFjciaYySUZ67I7qphk/0')
      .name Jojo
    .dw_icon
      .img
        img(src='http://wx.qlogo.cn/mmopen/Yh5jicJ5Uu3U1kusicGKUVmQic7miaOlKic2Dgu1NhiawYpLhhfITYjSbUEx3km85DTqwdibJv4NWpLjADAIj8TG4xJrg/0')
      .name       不辣的皮特。
    .dw_icon
      .img
        img(src='http://wx.qlogo.cn/mmopen/ZnVYypzYmT0tkBtoKJDQIMXfOoewou0quVlupONicvKLMM7xNeoCo7DT0kiaWbHHf7HE3jSYWkaHriagxDSnIibjbBUF3kk6Xh5v/0')
      .name 木心
    .dw_icon
      .img
        img(src='http://wx.qlogo.cn/mmopen/PiajxSqBRaEI7GaBGnbO4iaHcm9mysVT4FpsER8Lb5xPDEG9N1wLWRR8tb8vNZOm1UV0UmV8wq4msgG9bcibNckKw/0')
      .name 期待 )^o^(绿光
    .dw_icon
      .img
        img(src='http://wx.qlogo.cn/mmopen/Yh5jicJ5Uu3Vw8OK8SQCQbprVPLpnlXBV95tyJYdlUYBvsicP4w4rNOR4nFH3bdDrWR2L9XRyMluBWDQicjI4sNqQ/0')
      .name 哆啦梦
    .dw_icon
      .img
        img(src='http://combo.qiniudn.com/20150422/95ed0f425f0a41188fd69e9271a2a630')
      .name -FengMin
    .dw_icon
      .img
        img(src='http://wx.qlogo.cn/mmopen/gGaX9Y9K8Mf9icPYercgyMeu7nDNV87E5hJl58tqrdV1Q4IicUFyeudcVl2RUib55iaKE51AtHfKZUawqawAkuhQ8z6RQnJjcPCV/0')
      .name Iris Cui
    .dw_icon
      .img
        img(src='http://wx.qlogo.cn/mmopen/ajNVdqHZLLBXAqeeycZkazVdUcdibuZ9XnHwkzNq4qSGanKYklgPVzGE8KkYsctWOHBoVctPXhgKhQvJTa37gUg/0')
      .name jingyi
    //-.user-pagediv
      #dw_paging
        .dw_pading <<
        .dw_pading 1
        .dw_pading ....
        .dw_paging_body
        .dw_pading ....
        .dw_pading
        .dw_pading >>
block js
  script(src='/js/img.js')