doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-2.1.4.js')
    script(src='/git_test/dw/dw.js')
    script(src='/git_test/sas/sas.js')
    //-script(src='/git_test/Cookies-master/src/cookies.js')
    script(src='/git_test/browser-cookie/index.js')
    script(src='/git_test/jade_out/jquery-jade_out.js')
    
  body
    block content