<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1,user-scalable=no,viewport-fit=cover" />

  <style>
    body{
      height: 100vh;
      font-size: 16px;
    }
    .root {
      height: 100%;
      width: 980px;
      margin: 0 auto;
      position: relative;
    }
    button{
      font-size: 2em;
    }
    .wrap{
      height: 500px;
      background-color: #eee;
      position: relative;
    }
    .handle{
      width: 0;
      height: 0;
      position: static;
    }
    .box{
      font-size: 25px;
      color: #fff;
      text-align: center;
      line-height: 50px;
    }
    .box , .handle-active{
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #666;
    }
    .box-active{
      transition-duration: 33s;
    }
    .box-enter, .box-leave-to{
      top: 50%;
      left: 50%;
    }
    .handle-active > .box-active{
      transition: none;
      animation: none;
    }
    .box-inner {
      height: 100%;
      width: 100%;
    }

    .h-page-enter-active,.h-page-leave-active{
      transition: all 30s ease;
    }
  
    .h-page-enter, .h-page-leave-to{
      left: 500px;
      top: 200px;
    }

    .handle {
      width: 0!important;
      height: 0!important;
      border: 0!important;
      margin: 0!important;
      padding: 0!important;
      box-shadow: none!important;
      outline: none!important;
      position: static!important;
      transition-property: none!important;
      animation-name: none!important;
    }
    .h_will_cleared{
      transition: none!important;
      animation:  none!important;
    }
    
  </style>
  <title>Height</title>
</head>
<body>
  <div id="demo" class="root">
    <div style="width: 0px; height: 0px; box-shadow: 10px 10px 10px 10px #000;"></div>
    <button @click="loadPage1" :disabled="map[1]">Load Page 1</button>
    <button @click="switchActivePage">Switch Active Page 1</button>
    <button @click="unLoadPage1">Unload  Page 1</button>
    <button @click="replacePage1">Replace  Page 1</button>
    <button @click="pushPage2" :disabled="map[2]">pushPage 2</button>
    <button @click="backPage1" :disabled="Object.keys(map).length !== 2">backPage 1</button>
    <button @click="backPage1Renew" :disabled="Object.keys(map).length !== 2">backPage1Renew</button>
    <button @click="backPage1Replace" :disabled="Object.keys(map).length !== 2">backPage 1 Replace</button>

    <button @click="cleanPage2" :disabled="!map[2]">Clean Page 2</button>
    <div class="wrap">

      <transition 
        enter-active-class="h-page-enter-active" 
        leave-active-class="h-page-leave-active" 
      :appear="true" 
      v-for="v in map" 
      :key="v.id">
        <div class="handle" :class="{h_will_cleared: v.willCleared}" :key="v.id" v-if="v.isLoad">
          <transition name="h-page" :appear="true" 
            @enter="handleEnter" 
            @before-enter="handleBeforeEnter2($event, v)" 
            @enter-cancelled="handleEnterCancelled" 
            @after-enter="handleAfterEnter"
            
            @leave="handleLeave" 
            @before-leave="handleBeforeLeave" 
            @leave-cancelled="handleLeaveCancelled" 
            @after-leave="handleAfterLeave">
            <cmptbox v-show="v.isActive" :isload="v.isLoad" :v="v" :key="v.id" :style="v.styles"  />
          </transition>
        </div>
      </transition>


    </div>


  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  <script>
    (function(){

            
      let _id = 0;
      function _genId(){
        _id = _id + 1;
        return _id;
      }

      var CmptBox = {
        props: ['v', 'isload', 'isAbc'],


        template: `<div class="box">{{v.id}} {{v.isActive}} {{v.isLoad}}</div>`,
        
        mounted(){
          console.log('CmptBox mounted', this.isload)
        },
        destroyed(){
          console.log('isLoad', this.isload, this.v.isLoad);
        }
      }
      new window.Vue({
        el: '#demo',
        components: {
          cmptbox: CmptBox
        },
        data(){
          return {
            isLoad: false,
            isActive: false,
            pageId: 1,
            isAlive: true,

            map: {
            },
            
            duration: 500,
            height: 100,
            activeClass: 'box-enter-active'
          }
        },
        methods: {
          handleLeave(){
            console.log('---------------- handleLeave --------------')
          },
          handleBeforeLeave(el){
            window.requestAnimationFrame(() => {
              console.log('requestAnimationFrame')
              el.style.backgroundColor = 'red';
            })
            console.log('---------------- handleBeforeLeave --------------')
          },
          handleLeaveCancelled(el){
            el.removeAttribute('style');
          },
          handleAfterLeave(el){
            el.removeAttribute('style');
          },
          handleEnter(el){
            // el.style.backgroundColor = '#fff';
            console.log('---------------- handleEnter --------------')
    
            // this.$nextTick(() => {
            //   this.map[1].styles = {backgroundColor: "blue"};
            // })
     
          },
          handleBeforeEnter2(el, v){
            console.log('---------------- handleBeforeEnter2 --------------', v)
            // this.$nextTick(() => {
            //   this.map[1].styles = {backgroundColor: "blue"};
            // })
            // window.requestAnimationFrame(() => {
            //   console.log('requestAnimationFrame')
            //   el.style.backgroundColor = 'blue';
            // })
            v.styles = {backGroundColor: 'blue'};
            // el.style.backgroundColor = 'blue';
            //   window.requestAnimationFrame(() => {
            //   console.log('requestAnimationFrame')
            //   el.removeAttribute('style');
            //   const baseStyle = {zIndex: 123};
            //   setStyle(el, baseStyle);
            // })
            // setTimeout(() => {
            //   this.map[1].styles = {backgroundColor: "blue"};
            // })
            // this.$nextTick(() => {
            //   this.map[1].styles = {backgroundColor: "blue"};
            // })
            // el.style.backgroundColor = 'red';
          },
          handleEnterCancelled(el){
            el.removeAttribute('style');
            console.log('handleEnterCancelled')
          },
          handleAfterEnter(el){
            console.log('handleAfterEnter')
            el.removeAttribute('style');
            // el.style.backgroundColor = 'yellow';
          },

          switchShow(){
            this.isShow = !this.isShow;
          },
          loadPage1(){
            this.$set(this.map, 1, _createPage())
          },
          pushPage2(){
            const oldPage = this.map[1];
            oldPage.isActive = false;
            this.$set(this.map, 2, _createPage())
          },
          unLoadPage1(){
            let page = this.map[1];
            page.isActive = false;
            this.$nextTick(() => {
              page.isLoad = false;
              this.$delete(this.map, 1);
            })
          },
          replacePage1(){
            let currPage = this.map[1];
            currPage.isActive = false;
            this.$nextTick(() => {
              currPage.isLoad = false;
              this.$nextTick(() => {
                Object.assign(currPage, _createPage())
              });

            });

          },
          backPage1(){
            let currPage = this.map[2];
            currPage.isActive = false;
            let oldPage = this.map[1];
            if(!oldPage){
              this.$set(this.map, 1, _createPage());
            } else {
              oldPage.isActive = true;
            }
            this.$nextTick(() => {
              currPage.isLoad = false;
              this.clearAfter(1);
            });
          },
          backPage1Renew(){
            this.$delete(this.map, 1);
            this.backPage1();
          },
          backPage1Replace(){
            let currPage = this.map[2];
            currPage.isActive = false;
            let oldPage = this.map[1];
            if(oldPage){
              oldPage.isLoad = false;
            }
            this.$nextTick(() => {
              currPage.isLoad = false;
              this.$set(this.map, 1, _createPage());
              this.clearAfter(1);
            });
            

          },
          cleanPage2(){
            const page = this.map[2];
            page.willCleared = true;
            this.$nextTick(() => {
              page.isLoad = false;
              this.$delete(this.map, 2);
            })

          },
          clearAfter(key){
            this.$nextTick(() => {
              const map = this.map;
              let i;
              for(i in map){
                console.log('i', i, i > key, Number(i) > key);
                if(Number(i) > key){
                  this.$delete(map, i);
                }
              }
              console.log('map clearAfter', map);
            })
   
          },
          switchActivePage(){
            let page = this.map[1];
            page.isActive = !page.isActive;
          },
          switchAlive(){
            this.isAlive = !this.isAlive;
          },
          handleBeforeEnter(el){
            this.duration = 3000;
            console.log('handleBeforeEnter', el.className)

          },
          setHeight(){
            this.height = 500;
          },
          showInnerHeight(){
            const dom = this.$refs.inner;
            const dom2 = this.$refs.inner2;
            console.log(dom.clientHeight, dom.getBoundingClientRect());
            // console.log(2, '---', dom2.clientHeight, dom2.getBoundingClientRect());
          }
        },
        
        created(){
            this.loadPage1()
          }
      });


      function _createPage(){
        return {
          id: _genId(),
          isLoad: true,
          willCleared: false,
          isActive: true,
          styles: '',
          transition: {
            duration: undefined,
            leaveActiveClass: 'h-page-leave-active'
          }
        }
      }

      function pageTransitionHandle(type, behavior, distance, stateKey, pageName){
        return {
          // duration: 3000, // number
          // mode: undefined, replace
          // type: undefined
   


          activeClass: 'h-page-' + type + '-active',
          activeStyle: { zIndex: stateKey },

          actionClass: 'h-page-' + type + (type === 'leave' ? '-to' : ''),
          actionStyle: { backGroundColor:'yellow' },

        }

      }

      function noop() {};
      function _setPageTransiton(type){
        const raw = pageTransitionHandle.call(null, arguments);
        const result = {
          enterClass: '',
          enterActiveClass: '',
          enterToClass: '',
          beforeEnterFn: noop,
          enterFn: noop,

          leaveClass: '', 
          leaveActiveClass: '',
          leaveToClass: '',
          beforeLeaveFn: noop,
          leaveFn: noop,

          styles: ''
        };
        _setIfDef(result, 'duration', raw);
        _setIfDef(result, 'mode', raw);
        _setIfDef(result, 'type', raw);

        // appearClass unhave will not be added automatically.
 
        if(type === 'enter'){
          result.enterClass = raw.actionClass;
          result.enterActiveClass = raw.activeClass;
          if(raw.actionStyles){
            result.enterFn = function(){
              result.styles = raw.actionStyles;
            }
          }
        } else {
          result.leaveToClass = raw.actionClass;
          result.leaveActiveClass = raw.activeClass;
          if(raw.actionStyles){
            result.leaveFn = function(){
              result.styles = raw.actionStyles;
            }
          }
        }
        return result;
      }

      function _setIfDef(distObj, key, srcObj){
        const v = srcObj[key];
        if(v === undefined){
          return;
        }
        distObj[key] = v;
      };

      function setStyle(el, value){
        let i = 0, list = Object.keys(value), k,  len = list.length;
          for(; i < len; i++){
            k = list[i];
            el.style[k] = value[k];
          }
        // if(typeof value === 'string'){
        //   el.style.cssText = value;
        // } else {
     
        // }
      }
      // clear 全部效果置空 duration 置为 0
    })();
  </script>
</body>
</html>